body {
  font-family: "Roboto Slab", serif;
  background: #000000;
  background: -webkit-gradient(linear, left top, right top, from(#161616), to(#000000));
  background: linear-gradient(to right, #161616, #000000);
}

.navbar {
  background: #131313;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.4rem;
  padding: 0 50px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 999;
  /*to make sure this thing is above everything*/
}

#navbar__logo {
  background: #833ab4;
  background: -webkit-gradient(linear, left top, right top, from(#fcb045), color-stop(#fd1d1d), to(#833ab4));
  background: linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
}

.start_btn {
  height: calc(100vh - 80px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.start_quiz {
  height: 80px;
  font-size: 1.8rem;
  background: #833ab4;
  background: -webkit-gradient(linear, left top, right top, from(#fcb045), color-stop(#fd1d1d), to(#833ab4));
  background: linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
  padding: 20px 60px;
  border: none;
  border-radius: 4px;
  margin-top: 2rem;
  cursor: pointer;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
  outline: none;
}

.hide_start_btn {
  display: none;
}

.hide {
  display: none;
}

.quiz_container {
  height: 330px;
  width: 1000px;
  position: absolute;
  background-image: -webkit-gradient(linear, left top, right top, from(#fcb045), color-stop(40%, #fd1d1d), to(#833ab4));
  background-image: linear-gradient(to right, #fcb045 0%, #fd1d1d 40%, #833ab4 100%);
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  padding: 20px;
  border: none;
  -webkit-box-shadow: 0 0 8px 3px #fff;
          box-shadow: 0 0 8px 3px #fff;
}

.quiz_question {
  padding: 20px;
  font-size: 22px;
  background: #e71ecc;
  border-radius: 20px;
  margin: 10px 0 10px 0;
  color: #000000;
}

.options {
  width: 470px;
  display: inline-block;
  padding: 10px 0 10px 15px;
  vertical-align: middle;
  background: rgba(255, 255, 255, 0.5);
  margin: 10px 5px 10px 5px;
  color: #000000;
  border-radius: 20px;
}

.options:hover {
  background: #e71ecc;
  color: #f6f6f6;
}

.btn_next {
  width: 120px;
  height: 40px;
  font-size: 1.2rem;
  font-weight: bold;
  background: #833ab4;
  background: -webkit-gradient(linear, left top, right top, from(#fcb045), color-stop(#fd1d1d), to(#833ab4));
  background: linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
  padding: 10px 20px;
  border: none;
  opacity: 1;
  border-radius: 20px;
  margin-top: 2rem;
  cursor: pointer;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
  outline: none;
  position: absolute;
  bottom: 3rem;
  right: 5rem;
  float: right;
}

.btn_next:hover {
  background: #e71ecc;
  color: #f6f6f6;
}

.end_result {
  background-color: #833ab4;
  background-image: -webkit-gradient(linear, left top, right top, from(#fcb045), color-stop(40%, #fd1d1d), to(#833ab4));
  background-image: linear-gradient(to right, #fcb045 0%, #fd1d1d 40%, #833ab4 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  cursor: pointer;
  text-decoration: none;
  font-size: 5.5rem;
  position: absolute;
  top: 35%;
  left: 35%;
}

@media screen and (max-width: 1200px) {
  .quiz_container {
    height: 330px;
    width: 800px;
  }
  .quiz_question {
    width: 750px;
    padding: 20px;
    font-size: 20px;
    border-radius: 18px;
  }
  .options {
    width: 370px;
    padding: 8px 0 8px 15px;
    margin: 10px 5px 10px 5px;
    border-radius: 17px;
  }
  .end_result {
    font-size: 5rem;
    position: absolute;
    top: 35%;
    left: 35%;
  }
}

@media screen and (max-width: 900px) {
  .start_quiz {
    font-size: 1.4rem;
    padding: 20px 60px;
    border-radius: 4px;
    margin-top: 2rem;
    position: absolute;
    top: 35%;
    left: 36%;
  }
  .quiz_container {
    height: 330px;
    width: 400px;
  }
  .quiz_question {
    width: 350px;
    padding: 20px;
    font-size: 17px;
    border-radius: 18px;
  }
  .options {
    width: 370px;
    padding: 8px 0 8px 15px;
    margin: 10px 5px 10px 5px;
    border-radius: 17px;
  }
  .btn_next {
    width: 100px;
    height: 35px;
    font-size: 1rem;
    padding: 10px 18px;
    position: absolute;
    bottom: 2rem;
    right: 3rem;
    margin: 10px;
  }
  .end_result {
    font-size: 3.5rem;
    position: absolute;
    top: 35%;
    left: 35%;
  }
}

@media screen and (max-width: 428px) {
  .start_quiz {
    font-size: 1.4rem;
    position: absolute;
    top: 35%;
    left: 23%;
  }
  .quiz_container {
    height: 330px;
    width: 300px;
  }
  .quiz_question {
    width: 260px;
    padding: 20px;
    font-size: 17px;
    border-radius: 15px;
  }
  .options {
    width: 278px;
    padding: 6px 0 6px 12px;
    margin: 10px 5px 10px 5px;
    border-radius: 15px;
  }
  .btn_next {
    width: 80px;
    height: 35px;
    font-size: 0.9rem;
    padding: 10px 10px;
    position: absolute;
    bottom: 5rem;
    right: 2rem;
    margin: 15px;
  }
  .end_result {
    font-size: 4rem;
    position: absolute;
    top: 40%;
    left: 18%;
  }
  .navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    /*to make sure this thing is above everything*/
  }
}
/*# sourceMappingURL=style.css.map */